<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SalesForce">

	<parameter name="url" value="https://login.salesforce.com"></parameter>
	<parameter name="username" value="matschie@testleaf.com"></parameter>
	<parameter name="password" value="SelBootcamp$123"></parameter>

	<test thread-count="2" name="Test" verbose="5" parallel="classes">
		<classes>
			<class name="com.tesng.classCreate.EditWorkType" />
			<class name="com.tesng.classCreate.createAccount" />
			<class name="com.tesng.classCreate.DeleteLegalEntites" />
			<class name="com.tesng.classCreate.EditContact" />
			<class name="com.tesng.classCreate.NonProfitCertificates" />
			<class name="com.tesng.classCreate.ServiceSortOrder" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
